---
---
{% include relBase.html %}
<!-- Main -->
<div id="main">

<!-- Header -->
<header id="header">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>

  <ul class="icons">
    <li><a href="https://github.com/sakrecoer" rel="noopener" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="mailto:set+web@hallstrom.ch" class="icon fa-envelope-o" rel="noopener"><span class="label">Email</span></a></li>
  </ul>

</header>

<!-- Thumbnail -->
<section id="thumbnails">
{% for image in site.images %}

<article>
  <a class="thumbnail" href="{{ relBase }}{{ image.image }}" data-position="left center">
    <img src="{{ relBase }}{{ image.image | replace: '/photos/', '/photos/thumbs/' }}" alt="" />
  </a>

<h2>{{ image.title }}</h2>
<p>{{ image.description }} </p>
{% for data in site.data.picsinfo %}
{% assign file = data.SourceFile | prepend: '/' %}
{% if file == image.image %}
<p>Camera: {{ data.Make }} {{ data.Model }}</p>
<p>Aperture: {{ data.Aperture }}</p>
{% endif %}
{% endfor %}

</article>

{% endfor %}
</section>

<!-- Footer -->
<footer id="footer">
  {% include contact.html %}
  <ul class="copyright">
    <li>&copy; Sethy bwoy</li>
    <li><a href="/webcreds/">Webcreds</a>.</li>
  </ul>
</footer>

</div>